__pycache__/

.DS_Store
bestseller_books
housing_price/model_results

housing_price/.DS_Store
housing_price/Copy_of_housing_price (1).ipynb
.DS_Store
.DS_Store
housing_price/.DS_Store
pymc_marketing-main