__pycache__/

.DS_Store
bestseller_books
housing_price/model_results

housing_price/.DS_Store
housing_price/Copy_of_housing_price (1).ipynb
.DS_Store
.DS_Store
housing_price/.DS_Store
pymc_marketing-main
.DS_Store

store-sales-time-series-forecasting/store_sales_time_series.csv
store-sales-time-series-forecasting/store_sales_time_series_test.csv
store-sales-time-series-forecasting/train.csv
store-sales-time-series-forecasting/holidays_events.csv
store-sales-time-series-forecasting/oil.csv

store-sales-time-series-forecasting/transactions.csv
store-sales-time-series-forecasting/sample_submission.csv
store-sales-time-series-forecasting/stores.csv

store-sales-time-series-forecasting/test.csv
